label {
    font-weight: regular;
    margin-bottom: 1rem;
    font-family: 'IBM Plex Sans';
    font-size: 1rem;
    line-height: 1.25rem;
    color: #596579;
}

/* input[type="text"],
input[type="email"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 13px 16px;
  font-size: 0.9rem;
  line-height: 1.42;
  color: #C2C3C5;
  border-image: none;
  border: 1px solid #A7B2C3;
  border-radius: 6px;
  margin-bottom: 1.5rem;
} */

.error{
    color: red;
    font-size: 12px;
    text-align: left;
    margin-bottom: .9rem;
  }
  
  /* .form-control {
    margin-bottom: 20px;
  } */