/* .custom-date-input {
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  } */
  .form-control {
    display: flex;
    flex-direction: column;
    gap:0;

  }

  .error{
    color: red;
    font-size: 12px;
    text-align: left;
    margin-bottom: .9rem;
  }
